body {
  margin: 0px;
  padding: 0px;
  background-color: #FFF2AA;
}

data {
  font-family: "Fira Sans", sans-serif;
  font-color: #34508F;
  font-size: 16px;
}

h1, p {
  font-family: "Noto Serif", serif;
  font-color: #22335C;
}

h2 {
  font-family: "noto Serif", serif;
  font-color: #34508F;
}
