

h1 {
  font-family: 'Noto Serif', serif;
  color: #433C57;
  font-size: 1em;
  text-align: center;
  display: inline;
  margin: 0;
}

h2 {
  font-family: 'Noto Serif', serif;
  background-color: #B26012;
  font-size: 8em;
  text-align: center;
}

ul, menu, dir {
  margin:0;
  padding:0;
  list-style-type: none;

}

nav {
  margin:0;
  list-style-type: none;
}



header {
  background-color: #B26012;
  padding: 0;
}

fieldset {
  text-align: center;
}

p {
  font-family: 'Fira Sans', sans-serif;
}

.threed:hover {
        box-shadow:
                3px 3px #B26012,
                4px 4px #B26012,
                5px 5px #B26012;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}
.slogan {
  background-color: #E8E5E2;
  font-family: 'Fira Sans', sans-serif;
  list-style-type: none;
  padding: 3.5em;
  background-image: url("images/3.jpg");
  background-repeat:no-repeat;
  background-position:top;
  text-align: justify;
  font-size: 2em;
  font-style: italic;

}

.navBar {
  display:flex;
  list-style-type:none;
  background-color: #B26012;
  padding: .3em, 0;
  text-align: left;
  text-align-last: center;
}

.fish {
  height: 6em;
  width: 18em;
  margin-top: 0em;
}

.navList {
  display: inline;
  list-style-type: none;
  text-align: left;
  padding-left: 1em;
}

.where {
  background-color: transparent;
  font-family: 'Fira Sans', sans-serif;
  list-style-type: none;
  padding: 3.5em;
  text-align: center;
  font-size: 2em;
  font-style: italic;

}


.shop {
  background-color: #E8E5E2;
  font-family: 'Fira Sans', sans-serif;
  list-style-type: none;
  padding: 3.5em;
  text-align: center;
  font-size: 2em;
  font-style: italic;
}

.events {
  background-color: transparent;
  font-family: 'Fira Sans', sans-serif;
  list-style-type: none;
  padding: 3.5em;
  text-align: center;
  font-size: 2em;
  font-style: italic;
}

.about {
  background-color: #E8E5E2;
  font-family: 'Fira Sans', sans-serif;
  list-style-type: none;
  padding: 3.5em;
  text-align: center;
  font-size: 2em;
  font-style: italic;
}

footer p {
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.5em;
}
